#chatPage {
    height: 100vh;
    max-width: 860px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#messageLog {
    max-height: 90vh;
    min-height: 90vh;
    overflow-y: scroll;
}
#chatInput {
    /* maybe position fix this to the bottom with a white background */
    height: 10vh;
    padding: 20px;
}


input {
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #333;
    width: 100%;
    margin: 10px;
    padding-bottom: 5px;
    font-size: 22px;
    box-shadow: none;
}
input:focus {
    outline: none;
}

.Buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.options-button {
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 12px;
    color: #fff;
    background-color: #333;
    border: none;
}

.flightBox {
    display: flex;
    flex-direction: row;
    
}